{
    "app_name": "Electrum",
    "github_project": "spesmilo/electrum",
    "github_token": "xyz",
    "db_engine": "postgres",
    "db_name": "crashhub",
    "db_host": "example.com",
    "db_port": "3306",
    "db_user": "root",
    "db_password": "password"
}
